cchardet==2.1.7
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
colorama==0.4.4
contourpy==1.0.5
cycler==0.11.0
decorator==5.0.9
fastprogress==1.0.3
filelock==3.0.12
Flask==2.0.1
Flask-Cors==3.0.10
fonttools==4.37.3
huggingface-hub==0.9.1
idna==2.10
itsdangerous==2.0.1
jieba==0.42.1
Jinja2==3.0.1
joblib==1.0.1
keras-bert==0.89.0
keras-embed-sim==0.10.0
keras-layer-normalization==0.16.0
keras-multi-head==0.29.0
keras-pos-embd==0.13.0
keras-position-wise-feed-forward==0.8.0
keras-self-attention==0.51.0
keras-transformer==0.40.0
kiwisolver==1.4.4
ktrain==0.31.8
langdetect==1.0.9
MarkupSafe==2.0.1
matplotlib==3.6.0
numpy==1.23.1
packaging==21.0
pandas==1.5.0
Pillow==9.2.0
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2022.2.1
PyYAML==5.4.1
regex==2021.7.6
requests==2.25.1
sacremoses==0.0.45
scikit-learn==1.1.2
scipy==1.9.1
sentencepiece==0.1.96
six==1.16.0
syntok==1.4.4
threadpoolctl==3.1.0
tokenizers==0.12.1
torch==1.9.0
tqdm==4.61.2
transformers==4.17.0
typing-extensions==3.10.0.0
urllib3==1.26.6
validators==0.18.2
Werkzeug==2.0.1
Whoosh==2.7.4

